

:root {
    /* =========================== */
    /* "Native" theme configuration */
    /* =========================== */

    
    --fontFamily: Inter, Arial, sans-serif;
    
    --colorAccent: #5d80ed;
    --colorAccentAlt: #3c5aaa;
    --colorAccentSurface: #ff0000ff;
    
    --contentMaxWidth: 756px;
    
    --iconStrokeWidth: 2;
    
    --topNavHeight: 68px;
    --logoHeight: 45px;
    
    --pageHeaderInk: #ffffff;
    --pageHeaderBackground: #000000;
}


 
.side-navigation-wrapper {
    --sideNavBackground: #000000 !important;
}

 
#header {
    --topNavBackground: #000000 !important;
    --topNavBorderColor: #000000 !important;
}

/* Advanced theme configuration */
/*----- Root -----*/
:root {
    /* Color Styles */
    --colorWhite: var(--colorNeutral0);
    --colorNeutral0: #ffffff;
    --colorNeutral50: #FAFAFA;
    --colorNeutral100: #F6F6F6;
    --colorNeutral150: #F2F2F2;
    --colorNeutral200: #EBEBEB;
    --colorNeutral250: #E9E9E9;
    --colorNeutral300: #E5E5E5;
    --colorNeutral350: #DEDEDE;
    --colorNeutral400: #CFCFCF;
    --colorNeutral450: #C2C2C2;
    --colorNeutral500: #B2B2B2;
    --colorNeutral550: #A4A4A4;
    --colorNeutral600: #999999;
    --colorNeutral650: #767676;
    --colorNeutral700: #666666;
    --colorNeutral750: #5E5E5E;
    --colorNeutral800: #4D4D4D;
    --colorNeutral850: #404041;
    --colorNeutral900: #333333;
    --colorNeutral950: #2A2A2A;
    --colorNeutral1000: #000000;
  
    --colorRed50: #FFF5F7;
    --colorRed100: #FFECEF;
    --colorRed200: #FFECEF;
    --colorRed300: #FFBDC8;
    --colorRed400: #FF7A91;
    --colorRed500: #EF1A3E;
    --colorRed600: #DB0025;
    --colorRed700: #A6011D;
    --colorRed800: #6F001E;
    --colorRed900: #4D0017;
  
    --colorGreen50: #F6FFEB;
    --colorGreen100: #E7F7D0;
    --colorGreen200: #D9F2B6;
    --colorGreen300: #CBEBA0;
    --colorGreen400: #B1E26E;
    --colorGreen500: #81B23D;
    --colorGreen600: #638C2A;
    --colorGreen700: #48720F;
    --colorGreen800: #3D5C12;
    --colorGreen900: #2A4208;
  
    /* Orange=VSDS foun color token [Yellow] */
    --colorOrange50: #FFFAEC;
    --colorOrange100: #FDE9B4;
    --colorOrange200: #FEDC85;
    --colorOrange300: #FEC841;
    --colorOrange400: #FFB800;
    --colorOrange500: #FC9700;
    --colorOrange600: #F67F00;
    --colorOrange700: #EC6200;
    --colorOrange800: #E34521;
    --colorOrange900: #C52703;
  
    --colorBlue50: #F6F9FF;
    --colorBlue100: #E5ECFF;
    --colorBlue200: #BCCEFE;
    --colorBlue300: #86A1F4;
    --colorBlue400: #5D80ED;
    --colorBlue500: #4C71D2;
    --colorBlue600: #3C5AAA;
    --colorBlue700: #41538A;
    --colorBlue800: #2F3E6D;
    --colorBlue900: #1F2E5C;
  
    --colorSky50: #EBF6FF;
    --colorSky100: #D6EDFF;
    --colorSky200: #B2D7F1;
    --colorSky300: #94C3E7;
    --colorSky400: #5EA4DA;
    --colorSky500: #147AC8;
    --colorSky600: #106FBA;
    --colorSky700: #005A9E;
    --colorSky800: #014579;
    --colorSky900: #04345B;
  
  
    /* Text Styles */
    --headingLevel1Size: 3.5rem;
    --headingLevel2Size: 2rem;
    --headingLevel3Size: 1.375rem;
    --headingLevel4Size: 1.125rem;
    --headingLevel5Size: 1rem;
    --fontWeightBold: 700;
    /*If font-size is 16px*/ /* --contentBodyLineHeight: calc(var(--contentVerticalRhythm) + (var(--contentVerticalRhythm) * var(--contentVerticalRhythmAdjustment, 0.15))); */
    --contentBodyLineHeight: calc(var(--contentVerticalRhythm) + (var(--contentVerticalRhythm) * var(--contentVerticalRhythmAdjustment, 0)));
    
  
    /* Page Title */
    --pageTitleFontSize: var(--headingLevel1Size);
    --pageDescriptionFontSize: 0.875rem;
  
  
    /* Code Mark */
    --colorCodeMark: var(--colorNeutral950);
  
  
    /* Callout */
      /* Neutral */
      --calloutInfoInk: var(--colorNeutral950);
      --calloutInfoInkSecondary: var(--colorInkSecondary);
      --calloutInfoBackground: var(--colorBackgroundAlt);
  
      /* Accent » VSDS alias token: info */
      --calloutPrimaryInk: var(--colorNeutral950);
      --calloutPrimaryInkSecondary: var(--colorSky600);
      --calloutPrimaryBackground: var(--colorSky100);
  
      /* Positive » VSDS alias token: success */
      --calloutSuccessInk: var(--colorNeutral950);
      --calloutSuccessInkSecondary: var(--colorGreen700);
      --calloutSuccessBackground: var(--colorGreen100);
  
      /* Critical » VSDS alias token: danger */
      --calloutDangerInk: var(--colorNeutral950);
      --calloutDangerInkSecondary: var(--colorRed700);
      --calloutDangerBackground: var(--colorRed100);
  
      /* Warning » VSDS alias token: warning */
      --calloutWarningInk: var(--colorNeutral950);
      --calloutWarningInkSecondary: var(--colorOrange900);
      --calloutWarningBackground: var(--colorOrange100);
  
    /* Side Nav */
      --sideNavPadding: 3.5rem 2rem 2rem 2rem;
      --topNavFontWeight: var(--fontWeightBold);
      --sideNavItemFontWeight: var(--fontWeightBold);
      --sideNavItemFontSize: 1rem;
}
/*----- Root  END -----*/
  


/*----- DOC Components -----*/
/* /// Guidelines */
.content-block--guidelines .guideline-item.guideline-item__type-caution .type-badge__full {
    background: var(--guidelinesCautionBackgroundAlternative, var(--colorOrange900));
}

.content-block--guidelines .guideline-item.guideline-item__type-dont .type-badge__full {
    background: var(--guidelinesDontBackgroundAlternative, var(--colorRed700));
}

.content-block--guidelines .guideline-item.guideline-item__type-do .type-badge__full {
    background: var(--guidelinesDoBackgroundAlternative, var(--colorGreen700));
}


/* /// Blockquote */
.blockquote, blockquote {
    padding: 0 0 0 1.75rem;
    font-size: var(--fontSizeSmall);
    color: var(--colorNeutral700);
    line-height: 1.6;
    /* border-left: 6px solid var(--colorNeutral300); */
    border-left: 0;
    position: relative;
    margin-top: 16px !important;
}

.blockquote::before, blockquote::before {
    content: '';
    background-color: var(--colorNeutral300);
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.blockquote::after, blockquote::after {
    content: '';
    background-color: var(--colorBlue200);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    border-radius: 6px;
    overflow: hidden;
}

.blockquote .icon, blockquote .icon {
    display: none;
}


/* /// Guidelines */
.content-block--guidelines .guideline-item.guideline-item__type-do .type-badge__full, 
.content-block--guidelines .guideline-item.guideline-item__type-dont .type-badge__full, 
.content-block--guidelines .guideline-item.guideline-item__type-caution .type-badge__full {
    color: var(--colorNeutral950);
    font-weight: 500;
    border-width: 1px;
    border-style: solid;
    padding: 0.25rem 0.75rem;
    border-radius: 999px;
}
.content-block--guidelines .guideline-item.guideline-item__type-do .type-badge__full {
    background: var(--guidelinesDoBackgroundAlternative, var(--colorGreen100));
    border-color: var(--colorGreen400);
}
.content-block--guidelines .guideline-item.guideline-item__type-do .type-badge__full .icon svg {
    color: var(--colorGreen700);
}
.content-block--guidelines .guideline-item.guideline-item__type-dont .type-badge__full {
    background: var(--guidelinesDontBackgroundAlternative, var(--colorRed200));
    border-color: var(--colorRed300);
}
.content-block--guidelines .guideline-item.guideline-item__type-dont .type-badge__full .icon svg {
    color: var(--colorRed700);
}
.content-block--guidelines .guideline-item.guideline-item__type-caution .type-badge__full {
    background: var(--guidelinesCautionBackgroundAlternative, var(--colorOrange100));
    border-color: var(--colorOrange300);
}
.content-block--guidelines .guideline-item.guideline-item__type-caution .type-badge__full .icon svg {
    color: var(--colorOrange700);
}
/*----- DOC Components  END -----*/



/*----- DOC Layout -----*/
/* /// Body */
    body {
        font-size: var(--fontSizeSmall);
        letter-spacing: 0.015625rem; 0.25px
        /* letter-spacing: 0.02rem; 0.32px
        line-height: 1.6; */
    }

/* /// H5 */
    h5, .heading--level-5 {
        /* font-weight: 400; */
    }

    h5 strong, .heading--level-5 strong {
        color: var(--colorAccent);
    }

/* /// Container Title */
    .container-title>.slider h1.page-title {
        margin-bottom: 8px;
    }

    .container-title>.slider .subtitle {
        max-width: inherit;
        line-height: 1.7;
    }


/* /// Side Menu */
    .site-logo-wrapper {
        padding: var(--sideNavPadding);
    }

    .docs-navigation>.nav {
        padding: var(--sideNavPadding);
        padding-top: 0;
    }

    .docs-navigation>.nav .nav-item .nav-link.group, 
    .docs-navigation>.nav .nav-item .nav-link.active.group {
        font-size: 1rem;
        padding-left: 0;
        padding-right: 0;
    }

    .docs-navigation>.nav .nav-item .nav-link.active.group:hover {
        background-color: transparent;
        color: var(--colorBlue400);
    }

    .docs-navigation>.nav>li>.nav {
        padding-left: 16px;
    }

    .docs-navigation>.nav>li>.nav>li>.nav>li {
        padding-left: 16px;
    }

    .docs-navigation>.nav>li>.nav>li>.nav>li>.nav-link {
        color: var(--colorNeutral600);
        font-size: var(--fontSizeSmall);
        font-weight: var(--fontWeightRegular);
    }

    .docs-navigation>.nav>li>.nav>li>.nav>li>.nav-link.active {
        color: var(--colorBlue400);
        font-weight: var(--fontWeightBold);
    }

    .docs-navigation .nav .nav-item {
        margin-top: 0;
    }

/* /// is-tab */
    .docs-navigation .nav .nav-item.is-tab a {
        color: var(--colorNeutral600);
        font-size: var(--fontSizeSmall);
        font-weight: var(--fontWeightRegular);
        padding: 4px 0;
        padding-left: 16px !important;
        border-left: 1px solid var(--colorBlue900);
        border-radius: initial;
    }
    
    .docs-navigation .nav .nav-item.is-tab a.active {
        color: var(--colorBlue400);
        border-left: 1px solid var(--colorBlue900);
        border-radius: initial;
    }

    .docs-navigation>.nav>li>.nav>li>.nav>li>.nav-link:hover {
        color: var(--colorBlue400);
    }

    .docs-navigation>.nav .nav .nav-item .nav-link, 
    .docs-navigation>.nav .nav .nav-item .nav-link.active {
        padding-left: 0;
        padding-right: 0;
    }

    .docs-navigation>.nav .nav .nav-item .nav-link.active {
        color: var(--colorBlue400);
    }

    .docs-navigation>.nav .nav-item .nav-link.active {
        background-color: transparent;
    }

    .docs-navigation>.nav .nav-item .nav-link:hover {
        background-color: transparent;
        color: var(--colorBlue400);
    }


/* /// Table */
    table.data-table th, table.data-table td {
        padding: 0.75rem 1rem;
    }

    table.header-row tr:first-child th {
        border-bottom-width: 1px;
    }

    table.header-column th:first-child p, table.header-column td:first-child p, table.header-row tr th p, table.header-row thead tr:first-child p {
        font-weight: var(--fontWeightRegular);
        color: var(--colorNeutral750);
    }


/* /// Content Nav */
    #content-nav .content-nav-header {
        color: var(--colorNeutral650);
        font-weight: var(--fontWeightRegular);
    }

/* /// Content Li */
    .docs-content section ul li {
        margin-top: 0px;
    }

/* /// Page Bottom */
    .page-bottom-navigation {
        margin: 7.5rem 0 0 0;
    }

/* /// Foundation tokens index / Color table - Add token name */
    .token-group-header span.light {
        display: none;
    }
    
    .content-block--token-group-container.variant-stack-2 .content-block .token-group-header::before {
        content: "vsds-foun-color-";
        user-select: text;
    }

/* /// Caption */
    .caption {
        margin-top: .75rem
    }

/* /// Image */
    .content-block--image img {
        border: 1px solid var(--colorBorderSubtle);
    }

/* /// Add Checkbox style*/
    h4, .heading--level-4 {
        font-size: var(--fontSizeSmall);
        font-weight: inherit;
        margin: 0;
        padding: 8px 0 8px 24px;
        border-left: 4px solid #BCCEFE;
        display: flex;
        align-items: center;
        /* gap: 12px; */
    }
    h4:last-child, .heading--level-4:last-child {
        padding-bottom: 0;
    }
    h4 input, h4 label {
        cursor: pointer;
        margin-bottom: 0;
    }
    h4 label {
        margin-left: 12px;
    }
    h4 mark, h4 .mark {
        margin-left: 4px;
    }
    h4 a {
        margin-left: 12px;
    }
    h4 a:first-child {
        margin-left: 0;
    }
    h4 .copy-anchor {
        display: none !important;
    }
    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        border: 1px solid #767676;
        border-radius: 4px;
        overflow: hidden;
        appearance: none;
        position: relative;
        flex: none;
    }
    input[type="checkbox"]:checked {
        background: #3b82f6;
        border-color: #3b82f6;
    }
    input[type="checkbox"]:checked::after {
        content: "";
        position: absolute;
        left: 6px;
        top: 2px;
        width: 6px;
        height: 11px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
    .vs-checked {
        text-decoration: line-through;
    }
    ul {
        /* display: flex; */
        /* flex-direction: column; */
        gap: 4px;
    }
    ul>.block-children, ol>.block-children {
        margin-bottom: 8px;
    }
    .docs-content section ul li {
        margin-bottom: 4px;
    }
    .docs-content section ul li:last-child {
        margin-bottom: 0; 
    }
    mark, .mark {
        line-height: inherit;
    }

    /* Footer */
    .container-footer.small a {
        text-decoration: underline;
        /* color: #5d80ed; */
        margin-left: 12px;
    }
    .container-footer.small a::before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 6px;
        vertical-align: text-bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("/image/global.svg");
    }
/*----- DOC Layout  END -----*/



 /* Custom CSS overrides */
body,
html {

}
